body {
	padding-top: 30px;
  text-align: center;
}

a {
	color: #fff;
}

a:hover {
	text-decoration: none;
}

.container {
	margin-top: 10%;
}

.navbar-brand, .navbar-text, .footer-tagline {
	font-family: 'Cabin Sketch', cursive;	
}

#home {
	background: url(/images/dark_flag.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}

#fired {
	background: url(/images/field.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}

#help {
	background: url(/images/grass.jpg) no-repeat center center fixed; 
	/*filter: grayscale(100%);*/
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}

#call {
	margin-top: 3% !important;
	background: url(/images/tricycle.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}

#calm {
	margin-top: 3% !important;
	background: url(/images/calm.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}

.selection {
	position: relative;
	height: 500px;
	overflow: hidden;	
	/*font-family: 'Special Elite', cursive;*/
	font-family: 'Cabin Sketch', cursive;
	font-weight: bold;
	text-decoration: none;
	font-size: 55px;
}

.call-choice {
	max-height: 320px;
	max-width: 320px;
	margin-left: 30px;
}

.call-choice-img {
	max-height: 80%;
}

.call-p {
	margin-top: -170px;
	font-size: 45px;
}

.home-img, .fired-choice-2-img {
	width: 100%;
}

.fired-choice-3-img {
	max-height: 370px;
}

.plain-text {
	margin-top: -220px;
}

.choice {
	position: absolute;
	margin: 0;
	max-height: 370px;
	overflow: hidden;
	background-color: rgba(50, 50, 50, 0.5);
	color: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 150px 0px 0px 0px;
	display: none;
}

.fired-choice-2 {
	margin-top: -170px;
	font-size: 35px;
}

#burned-out {
	color: #0052A5;
}

#fired-up {
	color: #E0162B;
}

/*/////////BURNED OUT/////////*/

#bo-header {
	margin-top: -5%;
}

#bo-row {
	margin-top: 40px;
}

.burned-out-option {
	margin: 25px;
	background: #DFE2D7;
	border-radius: 200px;
  height: 200px;
  padding-top: 80px;
  font-size: 19px;
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
}

#bo-row a {
	color: #132538;
}

#bo-row a:hover {
	color: #6F828C;
}





