<body id="call">
	<div class="container" id="call">
		<div class="row">
			<div class="col-md-6">
				<div class="selection call-choice">
					<a href="https://5calls.org/">
						<img class="call-choice-img" src="/images/blue.jpg">
						<p class="call-p">Call now</p>
					</a>
				</div>
				<div class="selection call-choice">
					<a href="https://faxzero.com/fax_congress.php">
						<img class="call-choice-img" src="/images/blue.jpg">
						<p class="call-p">Fax now</p>
					</a>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
	</div>
</body>