<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="selection">
				<a href="/fired-up">
					<p>I'm Fired Up</p>
				</a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="selection">
				<a href="/burned-out">
					<p>I'm Burned Out</p>
				</a>
			</div>
		</div>
	</div>
</div>